:root {
    /* Cores principais */
    --primary: #0d6efd;
    --primary-dark: #0a58ca;
    --secondary: #6c757d;
    --background: #f8f9fa;
    --text-color: #212529;

    /* Tipografia */
    --font-family: 'Inter', sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;

    /* Espaçamentos padrão */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
}


header {
    height: 103px;
}

.content-section {
    background-image: url("../images/image_banner.png");
    height: clamp(100px, 46.81vw, 671px );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
